*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: #fff;
}
ul,
ol,
li {
    list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}
html,
body {
    font-family: "Passion One";
    font-weight: 500;
    height: 100%;
    line-height: 2;
}

.page{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    gap: 30px;
    color: #fff;
}
form {
    align-self: center;
}

._container {
    display: flex;
    flex-direction: column;
    /*align-content: center;
    align-items: center;
    justify-content: center;*/
    gap: 30px;
}
.page:is(:last-child){
    padding-bottom: 200px;
}

._title {
    margin-top: 200px;
    width: fit-content;
    font-size: 90px;
    text-align: center;
    background: -webkit-linear-gradient(bottom left, #3085ba 30%, #b130ba, #9c30ba);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
._text {
    width: fit-content;
    font-size: 30px;
    text-align: center;
    background: -webkit-linear-gradient(bottom left, #3085ba 30%, #b130ba, #9c30ba);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
._subtitle {
    width: fit-content;
    font-size: 40px;
    text-align: center;
    background: -webkit-linear-gradient(bottom left, #3085ba 30%, #b130ba, #9c30ba);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
._input {
    font-size: 30px;
    min-width: 50px;
    max-width: 600px;
    text-align: center;
    border-bottom: 1px solid #fff;
    border-radius: 30px;
    background: -webkit-linear-gradient(bottom left, #3085ba 30%, #b130ba, #9c30ba);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
._input:focus {
    outline: none;
    border-image-source: -webkit-linear-gradient(bottom left, #3085ba 30%, #b130ba, #9c30ba);
    border-width: 1.5px;
    border-radius: 30px;
    border-image-slice: 1;
    perspective: 1px;
}
._input:not(:focus) {
    border-image-source: -webkit-linear-gradient(bottom left, #3085ba 30%, #b130ba, #9c30ba);
    border-width: 1.5px;
    border-radius: 30px;
    border-image-slice: 1;
}

._button {
    align-self: center;
    width: 200px;
    height: 50px;
    position: relative;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    overflow: hidden;
    background: none;
    border: none;
    cursor: pointer;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s, box-shadow 0.2s;
    outline: none; /* Убираем стандартное выделение при фокусе */
    background: -webkit-linear-gradient(bottom left, #3085ba 30%, #b130ba, #9c30ba);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

._button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    pointer-events: none;
    box-sizing: border-box;
    z-index: -1;
    border: 1.5px solid transparent;
}

._button:focus::before,
._button:active::before {
    border: 1.5px solid #b130ba;
}

._button:hover {
    transform: scale(1.1);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
}

._button_add {
    width: 200px;
    height: 50px;
    position: relative;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    overflow: hidden;
    background: none;
    border: none;
    cursor: pointer;
    color: #ffffff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s, box-shadow 0.2s;
    outline: none; /* Убираем стандартное выделение при фокусе */
    background: -webkit-linear-gradient(bottom left, #3085ba 30%, #b130ba, #9c30ba);
    /*-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;*/
}

._button_add::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    pointer-events: none;
    box-sizing: border-box;
    z-index: -1;
    border: 1.5px solid transparent;
}

._button_add:focus::before,
._button_add:active::before {
    border: 1.5px solid #b130ba;
}

._button_add:hover {
    transform: scale(1.1);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
}